<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminlog</servlet-name>
        <servlet-class>HM.Controller.Admin.adminlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectrole</servlet-name>
        <servlet-class>HM.Controller.Selection.selectrole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>HM.Controller.User.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>receptionlogin</servlet-name>
        <servlet-class>HM.Controller.Reception.receptionlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerlogin</servlet-name>
        <servlet-class>HM.Controller.Customer.customerlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>receptionupdate</servlet-name>
        <servlet-class>HM.Controller.Admin.receptionupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addreception</servlet-name>
        <servlet-class>HM.Controller.Admin.addreception</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatereception</servlet-name>
        <servlet-class>HM.Controller.Admin.updatereception</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcustomer</servlet-name>
        <servlet-class>HM.Controller.Admin.addcustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerupdate</servlet-name>
        <servlet-class>HM.Controller.Admin.customerupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatecustomer</servlet-name>
        <servlet-class>HM.Controller.Admin.updatecustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>singleupdate</servlet-name>
        <servlet-class>HM.Controller.Rooms.singleupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deluxeupdate</servlet-name>
        <servlet-class>HM.Controller.Rooms.deluxeupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>HM.Controller.User.register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlog</servlet-name>
        <url-pattern>/View/HTML/adminlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectrole</servlet-name>
        <url-pattern>/View/HTML/selectrole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/View/JSP/admin/logout</url-pattern>
        <url-pattern>/View/JSP/reception/logout</url-pattern>
        <url-pattern>/View/JSP/customer/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>receptionlogin</servlet-name>
        <url-pattern>/View/HTML/receptionlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerlogin</servlet-name>
        <url-pattern>/View/HTML/customerlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>receptionupdate</servlet-name>
        <url-pattern>/View/JSP/admin/receptionupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addreception</servlet-name>
        <url-pattern>/View/JSP/admin/addreception</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatereception</servlet-name>
        <url-pattern>/View/JSP/admin/updatereception</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcustomer</servlet-name>
        <url-pattern>/View/JSP/admin/addcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerupdate</servlet-name>
        <url-pattern>/View/JSP/admin/customerupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatecustomer</servlet-name>
        <url-pattern>/View/JSP/admin/updatecustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singleupdate</servlet-name>
        <url-pattern>/View/JSP/rooms/singleupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deluxeupdate</servlet-name>
        <url-pattern>/View/JSP/rooms/deluxeupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/View/HTML/register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
