<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/booking-style.css">
    <title>Booking</title>

    <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Sansita+Swashed&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Hotel <span>Booking</span></h1> <br>
        </div>
        <div class="List">
            <!--Start Room Section-->
            <h2>Rooms for Booking</h2><br>
            <div class="room">
                <div class="single_R">
                    <article class="card">
                        <img src="../img/booking/s-r.jpg" alt="Single Room" class="card-img">
                        <div class="card-data">
                            <h2 class="card-title">Single Room</h2>
                            <p class="card-discription">Single room .........</p>
                            <a href="/HotelManagement/View/JSP/booking/singleroombooking.jsp" class="card-btn">Book Now</a>
                        </div>
                    </article>
                </div>
                <div class="deluxe_R">
                    <article class="card">
                        <img src="../img/booking/d-r.jpg" alt="Deluxe Room" class="card-img">
                        <div class="card-data">
                            <h2 class="card-title">Deluxe Room</h2>
                            <p class="card-discription">Deluxe room .........</p>
                            <a href="/HotelManagement/View/JSP/booking/deluxeroombooking.jsp" class="card-btn">Book Now</a>
                        </div>
                    </article>
                </div>
            </div>
            <br>
        </div>
        <br>
    </div>
</body>
</html>