<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/booking-style.css">
    <title>Booking</title>

    <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Sansita+Swashed&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Hotel <span>Booking</span></h1> <br>
        </div>
        <div class="List">
            <!--Start Room Section-->
            <h2>Rooms for Booking</h2><br>
            <div class="room">
                <div class="single_R">
                    <article class="card">
                        <img src="../img/booking/s-r.jpg" alt="Singel Room" class="card-img">
                        <div class="card-data">
                            <h2 class="card-title">Singel Room</h2>
                            <p class="card-discription">Singale room .........</p>
                            <a href="http://localhost/HMS2022/php/bookingLog.php" class="card-btn">Booking</a>
                        </div>
                    </article>
                </div>
                <div class="deluxe_R">
                    <article class="card">
                        <img src="../img/booking/d-r.jpg" alt="Deluxe Room" class="card-img">
                        <div class="card-data">
                            <h2 class="card-title">Deluxe Room</h2>
                            <p class="card-discription">Deluxe room .........</p>
                            <a href="http://localhost/HMS2022/php/bookingLog.php" class="card-btn">Booking</a>
                        </div>
                    </article>
                </div>
                <div class="family_R">
                    <article class="card">
                        <img src="../img/booking/f-r.jpg" alt="Family Room" class="card-img">
                        <div class="card-data">
                            <h2 class="card-title">Family Room</h2>
                            <p class="card-discription">Family room .........</p>
                            <a href="http://localhost/HMS2022/php/bookingLog.php" class="card-btn">Booking</a>
                        </div>
                    </article>
                </div>
                <div class="twinBed_R">
                    <article class="card">
                        <img src="../img/booking/t-r.jpg" alt="Twin Bed Room" class="card-img">
                        <div class="card-data">
                            <h2 class="card-title">Twin Bed Room</h2>
                            <p class="card-discription">Twin Bed room .........</p>
                            <a href="http://localhost/HMS2022/php/bookingLog.php" class="card-btn">Booking</a>
                        </div>
                    </article>
                </div>
            </div>
            <br>

            <!--Start Hall Section-->
            <h2>Halls for Booking</h2><br>
            <div class="hall">
                <div class="wedding_H">
                    <article class="card">
                        <img src="../img/booking/w-h.jpg" alt="Wedding Hall" class="card-img">
                        <div  class="card-data">
                            <h2 class="card-title">Wedding Hall</h2>
                            <p class="card-discription">Wedding Hall .........</p>
                            <a href="http://localhost/HMS2022/php/bookingLog.php" class="card-btn">Booking</a>
                        </div>
                    </article>
                </div>
                <div class="small_H">
                    <article class="card">
                        <img src="../img/booking/s-h.jpg" alt="Small Hall" class="card-img">
                        <div class="card-data">
                            <h2 class="card-title">Small Hall</h2>
                            <p class="card-discription">Small Hall .........</p>
                            <a href="http://localhost/HMS2022/php/bookingLog.php" class="card-btn">Booking</a>
                        </div>
                    </article>
                </div>
                <div class="meeting_R">
                    <article class="card">
                        <img src="../img/booking/m-r.jpg" alt="Meeting Room" class="card-img">
                        <div  class="card-data">
                            <h2 class="card-title">Meeting Room</h2>
                            <p class="card-discription">Meeting room .........</p>
                            <a href="http://localhost/HMS2022/php/bookingLog.php" class="card-btn">Booking</a>
                        </div>
                    </article>
                    <br>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>