<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/gal-style.css">
    <title>GALLERY</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Photo <span>GALLERY</span></h1>
        </div>

        <div class="img">
            <div class="img-c">
                <img src="../img/roberto-nickson-emqnSQwQQDo-unsplash.jpg" alt="">
                <img src="../img/visualsofdana-T5pL6ciEn-I-unsplash.jpg" alt="">
                <img src="../img/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg" alt="">
                <img src="../img/1.jpg" alt="">
                <img src="../img/2.jpg" alt="">
                <img src="../img/3.jpg" alt="">
                <img src="../img/11.jpg" alt="">
                <img src="../img/14.jpg" alt="">
            </div>
            <div class="img-c">
                <img src="../img/alevision-co-lw3Lqe2K7xc-unsplash.jpg" alt="">
                <img src="../img/roberto-nickson-EeeKjwm2vDo-unsplash.jpg" alt="">
                <img src="../img/francesca-saraco-_dS27XGgRyQ-unsplash.jpg" alt="">
                <img src="../img/4.jpg" alt="">
                <img src="../img/5.jpg" alt="">
                <img src="../img/6.jpg" alt="">
                <img src="../img/15.jpg" alt="">
                <img src="../img/16.jpg" alt="">
            </div>
            <div class="img-c">
                
                <img src="../img/edvin-johansson-rlwE8f8anOc-unsplash.jpg" alt="">
                <img src="../img/jeffrey-francisco-_Ei9f33bQ1A-unsplash.jpg" alt="">
                <img src="../img/rhema-kallianpur-jbJ-_hw2yag-unsplash.jpg" alt="">
                <img src="../img/7.jpg" alt="">
                <img src="../img/8.jpg" alt="">
                <img src="../img/9.jpg" alt="">
                <img src="../img/17.jpg" alt="">
                <img src="../img/18.jpg" alt="">
            </div>
            <div class="img-c">
                
                <img src="../img/eiliv-sonas-aceron-2LzqR50_NTw-unsplash.jpg" alt="">
                <img src="../img/shop-slo-vhztm9QC0L0-unsplash.jpg" alt="">
                <img src="../img/manuel-moreno-DGa0LQ0yDPc-unsplash.jpg" alt="">
                <img src="../img/10.jpg" alt="">
                <img src="../img/13.jpg" alt="">
                <img src="../img/12.jpg" alt="">
                <img src="../img/19.jpg" alt="">
                <img src="../img/20.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>