
*
body{
    font-family:'Verdana';
    padding: 0;
    margin: 0;
}

.main-header h1{
    font-family: 'Sansita Swashed', cursive;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: rgb(225, 245, 245);
}

.main-header{
    background: url(../img/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg);
    background-size: cover;
    background-position: fixed;
    height: 100vh;
}
.main-header h2{
    text-align: center;
    position: relative;
    top: 30%;
    color: whitesmoke;
    cursor: pointer;
    font-size: 80px;
}

.main-header h2 span{
    font-weight: bold;
    color: crimson;
}

.header{
    font-family: 'Sansita Swashed', cursive;
    display: flex;
    justify-content: space-around;
}
.navigation ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.navigation ul li{
    list-style: none;
    margin-left: 20px;
    padding: 10px;
}
.navigation ul li a{
    text-decoration: none;
    color: blanchedalmond;
}
.navigation ul li:hover{
    background-color: crimson;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}
/* end of navigation hear*/

/* start of service hear*/
h2{
    text-align: center;
}
.service .main-service{
    display: flex;
    justify-content: center;
}
.service .service-box{
    background-color: crimson;
    margin-top: 8px;
    text-align: center;
    width: 250px;
    padding: 30px 10px 0;
}
.service .service-box h4{
    color: whitesmoke;
}
.service .main-service{
    color: beige;
}
/* end of service hear */

/* slider */
.slide-show{
    padding-top: 50px;
}
.slide-show img{
    width: 100%;
    height: 90vh;
}
.slide-show button{
    margin-top: 75%;
}

@media(max-width : 600px){
    .slide-show img{
        width: 100%;
        height: 100%;
    }
}

/* start of get in touch hear */
.touch{
    background-color: azure;
    padding-top: 10px;
}
.break{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 80px;
    text-align: center;
}
@media(max-width: 600px){
    .break{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 80px;
        text-align: center;
    }
}

.touch .footer{
    background-color: crimson;
    text-align: center;
    padding: 1px 0px;
    color:white;
}
